body{
	font-family: "Microsoft JhengHei";
	width: 100%;
	color: #fff;
}
/*clearfix*/
.clearfix{
	clear: both;
}
.clearfix:before, .clearfix:after {
  content:"";
  display:table;
}
.clearfix:after {
  clear:both;
}
.clearfix {
  zoom:1; /* For IE 6/7 (trigger hasLayout) */
}
/**/
h3{
	font-size: 1.8em;/*computer-3*/
}
h6, p ,a{
	font-size: 1em;/*computer-1.5*/
}
a{
	text-decoration: none;
	color: #fff;
}
a:hover{
	text-decoration: underline;
}
/*header*/
header{
	width: 100%;
	height: 50px; /*computer*/
	border-bottom: 1px solid #aaa;
}
nav, #facebook, #logo{
	width: 33.33%;
	float: left;
}
nav{
	text-align: left;
}
nav i{
	padding: 0.5em 0 0 20px;
}
#facebook i{
	padding: 0.5em 20px 0 0;
}
#facebook{
	text-align: right;
}
article #list{
	display: none;
	z-index: 5;
}
#list, #list ul{
	width: 100%;
	text-align: left;
}
#list ul li a{
	text-align: left;
}
#list li{
	width: 100%;
	list-style: none;
	font-size: 1em;
	line-height: 4em;
	border-bottom: 1px dotted #fff;
	background-color: #000;
	padding-left: 10px;
}
#logo figure{
	text-align: center;
	height: 100px;
}
#logo figure img{
	max-width: 100%;
	max-height: 100%;
}
/*section*/
section{
	 /*computer*/
	text-align: center;
	background-color: #222;
	border-bottom: 1px solid #aaa;
}
section h3, section h6, section p{
	padding: 10px 0;
}
section p{
	padding-top: 45px;
}
#know, #element, #goal ,#signup{
	height: 75vh;
}
#element{
	background-color: #fff;
	color: #000;
}

#signup figure{
	height: 40vh;
}
#signup figure img{
	max-height: 100%;
	float: right;
}
article #know{
	width: 100%;
	height: 50vh; /*computer*/
	background-image: url(images/IMG_9454.JPG);
	background-repeat: no-repeat;
	background-size: cover;
	z-index: 1;
}
article #know h3{
	text-align: left;
}
/*process*/
#process .col-3{
	position: relative;
}
#process .col-3 figure{
	width: 100%;
	height: 100%;
}
#process .col-3 figure img{
	max-height: 100%;
	z-index: -1;
}
#process .col-3 p, #process .col-3 h3{
	position: absolute;
	margin: auto;
  /*computer top:30vh*/
	left:0;
	right:0;
	z-index: 4;
}
#process .col-3 p{
	margin: 10vh;
	line-height: 1.3em;
}
.col-2{
	width: 100%;
}
.col-2 iframe{
	width: 50vw;
	height: 50vh;
	margin: auto;
}
/**/
#process .col-3{
	width: 100%;
	height: 100vh;/*computer*/
	float: left;
	color: #fff;
}
#cookie, #expert, #present{
	background-position: center;
	background-size: cover;
}
#cookie{
	background-image: url(images/cookie.jpg);
}
#expert{
	background-image: url(images/expert.jpg);
}
#present{
	background-image: url(images/present.JPG);
}
/*icon*/
header .fa{
	color: #888;
	cursor: pointer;	
}
header .fa:hover{
	color: #000;
}
.fa{
	color: #fff;
	font-size: 1em;
}
/*btn*/
.btn{
	padding: 10px 20px;
	color: #888;
	background-color: rgb(44,242,156);
}
.btn:hover{
	color: #fff;
	text-decoration: none;
}
/**/
.textLeft{
	text-align: left;
}

/*media*/
@media screen and (min-width: 769px){

}
@media screen and (min-width: 961px){
	h3{
		font-size: 3em;
	}
	h6{
		font-size: 2em;
	}
	p, .btn{
		font-size: 1.25em;
	}
	header{
		height: 15vh;
	}

	#facebook i{
		padding: 30px 20px 0 0;
	}
	article #know{
		height: 85vh;
	}
	article #know h3{
		text-align: center;
	}
	#know #slogan{
		position: relative;
		top: 31%;
	}
	#process .col-3{
		width: 33.33%;
		height: 100vh;
	}
	#process .col-3 p, #process .col-3 h3{
		top:30vh;  /*computer 30vh*/
	}
	.col-2{
		width: 50%;
		float: left;
	}
	.fa{
		font-size: 2.5em;
	}
	/*nav-top*/
	#facebook{
		width: 10%;
	}
	#logo{
		width: 20%;
		text-align: left;
	}
	nav{
		width:70%;
	}
	article #list{
		text-align: center;
		position: absolute;
		top: -15vh;
	}
	#list a{
		display: inline-block;
	}
	header nav i{
		display: none;
	}
}