body{
	font-family: Microsoft JhengHei;
	width: 100%;
	color: #fff;
}
.clearfix{
	clear: both;
}
h3{
	font-size: 3em;
}
h6{
	font-size: 1.5em;
}
a{
	text-decoration: none;
	color: #fff;
}
a:hover{
	text-decoration: underline;
}
/*header*/
header{
	width: 100%;
	height: 50px; /*computer*/
	border-bottom: 1px solid #aaa;
}
nav, #facebook, #logo{
	width: 33.33%;
	float: left;
}
nav{
	text-align: left;
}
nav i{
	padding: 30px 0 0 20px;
}
#facebook i{
	padding: 30px 20px 0 0;
}
#facebook{
	text-align: right;
}
#list{
	display: none;
}
#list, #list ul{
	width: 100%;
}
#list li{
	width: 100%;
	list-style: none;
	font-size: 1em;
	line-height: 4em;
	border-bottom: 1px dotted #fff;
	background-color: #000;
	padding-left: 10px;
}
#logo figure{
	text-align: center;
	height: 100px;
	overflow: hidden;
}
#logo figure img{
	max-width: 100%;
	max-height: 100%;
}
/*section*/
article #know{
	width: 100%;
	height: 50vh; /*computer*/
	background-image: url(images/IMG_9454.JPG);
	background-repeat: no-repeat;
	background-size: cover;
	text-align: center;
	border-bottom: 1px solid #aaa;
}
section{
	height: 40vh; /*computer*/
}
section h3, section h6, section p{
	position: relative;
	top: 31%;
	padding: 10px 0;
}
section p{
	padding-top: 45px;
}
/**/
.col-3{
	width: 100%;
	height: 50vh;/*computer*/
	float: left;
	text-align: center;
	color: #fff;
}
#cookie, #expert, #present{
	background-position: center;
	background-size: cover;
}
#cookie{
	background-image: url(images/cookie.JPG);
}
#expert{
	background-image: url(images/expert.JPG);
}
#present{
	background-image: url(images/present.JPG);
}
/*icon*/
.fa{
	color: #888;
	cursor: pointer;
}
.fa:hover{
	color: #000;
}
/*btn*/
.btn a{
	padding: 10px 20px;
	font-size: 1.5em;
	font-weight: bold;
	color: #888;
	background-color: rgb(44,242,156);
}
.btn a:hover{
	color: #fff;
	text-decoration: none;
}

@media screen and (min-width: 769px){

}
@media screen and (min-width: 961px){
	header{
		height: 15vh;
	}
	article #know{
		height: 85vh;
	}
	section{
		height: 100vh; /*computer*/
	}
	.col-3{
		width: 33.33%;
		height: 100vh;
	}
}