body{
	font-family: "Microsoft JhengHei";
	width: 100%;
	color: #fff;
}
/*clearfix*/
.clearfix{
	clear: both;
}
.clearfix:before, .clearfix:after {
  content:"";
  display:table;
}
.clearfix:after {
  clear:both;
}
.clearfix {
  zoom:1; /* For IE 6/7 (trigger hasLayout) */
}
.container{
	width: 80%;
	margin: 0 auto;
	padding: 1.5em 0;
}

/**/
h3{
	font-size: 1.8em;/*computer-3*/
}
h6, p ,a{
	font-size: 1em;/*computer-1.5*/
}
a{
	text-decoration: none;
	color: #fff;
}
a:hover{
	text-decoration: underline;
}
/*header*/
header{
	width: 100%; /*computer*/
	background-color: #fff;
	border-bottom: 1px solid #aaa;
	position: fixed;
	top: 0;
	z-index: 10;
}
#headerTop{
	height: 50px;
	background-color: #fff;
}
#nav{
	display: none;
}
nav, #facebook, #logo{
	width: 33.33%;
	float: left;
}
nav{
	text-align: left;
}
nav i{
	padding: 0.5em 0 0 20px;
}
#facebook i{
	padding: 0.5em 20px 0 0;
}
#facebook{
	text-align: right;
}
header #list{
	z-index: 5;
	display: none;	
}
#list, #list ul{
	width: 100%;
	text-align: left;
}
#list ul li a{
	text-align: left;
}
#list li{
	width: 100%;
	list-style: none;
	font-size: 1em;
	line-height: 4em;
	border-bottom: 1px dotted #fff;
	background-color: #000;
	padding-left: 10px;
}
#logo figure{
	text-align: center;
	height: 50px;
}
#logo figure img{
	max-width: 100%;
	max-height: 100%;
}
/*section*/
section{
	text-align: center;
	background-color: #222;
	border-bottom: 1px solid #aaa;
}

#element ,#benifit{
	background-color: #fff;
	color: #000;
}

#element p{
	position: relative;
	top: -1em;
}
#signup h3{
	padding-bottom: 1em;
}
#signup .btn{
	margin: 0 0.5em;
}
#signup figure{
	height: 40vh;
}
#signup figure img{
	max-height: 100%;
	float: right;
}
article #know{
	width: 100%;
	height: 60vh; /*computer*/
	background-image: url(images/IMG_9454.JPG);
	background-repeat: no-repeat;
	background-size: cover;
	z-index: 1;
}
#know h3{
	padding: 2em 0 1em 0; 
}
/*process*/
#process .col-3 figure{
	width: 100%;
	height: 100%;
}
#process .col-3 figure img{
	max-height: 100%;
	z-index: -1;
}

p{
	line-height: 1.5em;
	padding: 1em;
}
.col-2{
	padding: 1em 0; 
	width: 100%;
	float: left;
}
.col-2 iframe{
	width: 100%;
	height: 50vh;
}
/**/
#process .col-3{
	position: relative;
	width: 100%;
	height: 100vh;/*computer*/
	float: left;
	color: #fff;
}
#cookie, #expert, #present{
	background-position: center;
	background-size: cover;
}
#cookie{
	background-image: url(images/cookie.jpg);
}
.col-3 h3{
	margin-top: 30vh;
}

#expert{
	background-image: url(images/expert.jpg);
}
#present{
	background-image: url(images/present.JPG);
}
/*after signup*/
#volunteer{
	background-image: url(images/7-1.png);
	background-repeat: no-repeat;
	background-position: 100% 100%;
}


/*icon*/
header .fa{
	color: #888;
	cursor: pointer;	
}
header .fa:hover{
	color: #000;
}
.fa{
	color: #fff;
	font-size: 1.3em;
}
/*btn*/
.btn{
	padding: 10px 20px;
	color: #666;
	background-color: rgb(44,242,156);
}
.btn:hover{
	color: #fff;
	text-decoration: none;
}
/**/
.textLeft{
	text-align: left;
}
footer{
	background-color: #222;
}
footer p{
	font-size: 1em;
}


/*media*/
@media screen and (min-width: 768px){
	#process .col-3{
		height: 80vh;
	}
	#know #slogan{
		margin-top: 10vh;
	}
	h3{
		font-size: 3em;
	}
	h6{
		font-size: 2em;
	}
	#process .container p{
		font-size: 1.25em;
	}
}
@media screen and (min-width: 961px){
	p, .container .btn{
		font-size: 1.25em;
	}
	header{
		height: 10vh;
	}
	header #logo{
		height: 100%;
	}
	#logo figure{
		text-align: left;
		height: 100%;
	}
	#logo figure img{
		max-height: 125%;
	}
	#know #slogan{
		margin-top: 20vh;
	}
	article #know{
		height: 100vh;
	}
	article #know h3{
		text-align: center;
	}
	#know h6{
		padding-bottom: 1em;
	}

	#process .col-3{
		width: 33.33%;
	}
	.col-3 h3{
		margin-top: 20vh;
	}	
	.col-2{
		width: 50%;
	}
	.fa{
		font-size: 2.5em;
	}
	/*nav-top*/
	#facebook{
		width: 10%;
		float: right;
	}
	#logo{
		width: 20%;
		text-align: left;
	}
	header #nav{
		display: block;
		width: 70%;
		float: left;
		text-align: center;
	}
	#nav ul li{
		display: inline-block;
		line-height: 10vh;
		padding: 0 10px;
	}
	#nav ul li a{
		color: #aaa;
	}
	#nav ul li a:hover{
		color: #000;
	}
	#nav ul li .active{
		color: #000;
	}
	.fa-bars{
		display: none;
	}
}
